<mat-toolbar>
  <div class="toolbar-left">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon [style.line-height]="'21px'">menu</mat-icon>
    </button>
    <p>{{title | uppercase}}</p>
  </div>
  <img (click)="openDialog()" src="./assets/cook-book-icon.png" alt="appIcon">
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-recipe-list></app-recipe-list>
  </mat-drawer>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

<!--<mat-grid-list cols="3" [rowHeight]="'100%'">-->
<!--  <mat-grid-tile class="recipe-list"-->
<!--    [colspan]=1-->
<!--    [rowspan]=1>-->
<!--    <app-recipe-list></app-recipe-list>-->
<!--  </mat-grid-tile>-->

<!--  <mat-grid-tile-->
<!--    [colspan]=2-->
<!--    [rowspan]=1>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
